
.baseLink {
  text-decoration: none;
  list-style: none;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: blue;
}

.activeLink {
  text-decoration: none;
  list-style: none;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: brown;
}
